@font-face {
    font-family: 'Thorn';
    src: local('ceviche-one'), url('Thorn-4Bn19.ttf') format('truetype');
}

h1{
    font-family: 'Thorn';
    color: rgba(255, 38, 0, 0.356);
    text-shadow: 0 0 3px #990101, 0 0 5px #000000;
}